@import url(https://fonts.googleapis.com/css?family=Marcellus);

#responsive-fill {
	position: absolute; 
	top: 0; 
	width: 100%;
	height: 480px;
}

@media(max-width: 900px){
	#responsive-fill {
		height: 378px;
	}
}

.full-main-section {
	width: 100%;
	position: relative;
}

.my-blue {
	background-color: #3b3b4f;
}

.my-grey {
	background-color: #efefef;
}

.white {
	background-color: white;
}

.main-section {
	max-width: 1200px;
	margin: 0 auto;
}

.right-standard-border {
	border-right: 1px solid #c8910d;
}

.left-standard-border {
	border-left: 1px solid #c8910d;
}

.top-standard-border {
	border-top: 1px solid #c8910d;
}

#logo {
	width: 25%;
	margin-top: 30px;
}

#logo-footer {
	width: 25%;
}

.central-header {
	font-family: marcellus;
	font-size: 36px;
	letter-spacing: 2;
	margin-bottom: 0;
}

.central-subheader {
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}

.content-piece {
	position: relative;
	width: 100%;
	margin: 15px 0px;
}

.content-piece-padding {
	padding: 50px 0px;	
}

.content-piece-item {
	margin-top: 20px;
}

.content-text {
	font-family: marcellus;
	font-size: 14px;
	color: black;
}

.menu-col {
	height: 0;
}

.menu-item {
	margin: 0 10px;
	padding: 5px 0;
}


a:hover {
	text-decoration: none;
}

.menu-item-text-top {
	color: white;
	font-family: marcellus;
	font-size: 14px;
	letter-spacing: 1pt;

}

.menu-item-text-footer {
	color: black;
	font-family: marcellus;
	font-size: 14px;
	letter-spacing: 1pt;
}

.menu-item-text-top:hover {
	color: #c8910d;
}

.menu-item-text-footer:hover {
	color: #c8910d;
}

.footer-contact-item {
	font-family: marcellus;
	font-size: 14px;
	color: black;
	margin-bottom: 0;
	letter-spacing: 1pt;
}

.standard-gold-text {
	color: #c8910d;
}

/*@font-face {
	font-family: marcellus;
	src: url('../font/Marcellus-Regular.ttf')  format('truetype');
	src: url('../font/Marcellus-Regular.ttf')  format('truetype');
}*/

