/*
 Theme Name:   Template La Taberna Griega
 Theme URI:    http://www.gamaginot.pt
 Description:  Twenty Sixteen Child Theme
 Author:       John Doe
 Author URI:   http://www.gamaginot.pt
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         
 Text Domain:  twenty-sixteen-child
*/


#responsive-fill {
	position: absolute; 
	top: 0; 
	width: 100%;
	height: 480px;
}

@media(max-width: 900px){
	#responsive-fill {
		height: 378px;
	}
}

.full-main-section {
	width: 100%;
	position: relative;
}

.my-blue {
	background-color: #3b3b4f;
}

.my-grey {
	background-color: #efefef;
}

.white {
	background-color: white;
}

.main-section {
	max-width: 1200px;
	margin: 0 auto;
}

.right-standard-border {
	border-right: 1px solid #c8910d;
}

.left-standard-border {
	border-left: 1px solid #c8910d;
}

.top-standard-border {
	border-top: 1px solid #c8910d;
}

#logo {
	width: 25%;
	margin-top: 30px;
}

#logo-footer {
	width: 25%;
}

.central-header {
	font-family: marcellus, Georgia;
	font-size: 36px;
	letter-spacing: 2px;
	margin-bottom: 0;
}

.central-subheader {
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}

.content-piece {
	position: relative;
	width: 100%;
	margin: 15px 0px;
	/*padding-top: 20px;*/
}

.content-piece-offset {
	padding-top: 20px;
}

.content-piece-padding {
	padding: 50px 0px;	
}

.content-piece-item {
	margin-top: 20px;
}

.content-text, .content-title, .content-subtitle, .widgettitle, p, .textwidget, .textwidget > p {
	font-family: marcellus;
}

p, .content-text {
	font-size: 14px;
}

.widgettitle {
	font-size: 13px;
}

.content-title {
	color: #c8910d !important;
	font-size: 20px;
}

.content-subtitle, .widgettitle {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #001588;
}

.content-text{
	color: black;
}

.content-title {
	color: #c8910d !important;
	font-size: 20px;
}

.menu-col {
	height: 0;
}

.footer-contact-item {
	font-family: marcellus;
	font-size: 14px;
	color: black;
	margin-bottom: 0;
	letter-spacing: 0pt;
}

.standard-gold-text {
	color: #c8910d;
}

.menu-item, .black-menu-item {
	border-top: 1px solid #c8910d;
}

.menu-item:first-of-type {
	border-top: none;
}

.menu-item, .language-chooser-item, .black-menu-item{
	margin: 0 10px;
	padding: 5px 0;
	line-height: 1;	
}

.menu-item > a, .language-chooser-item > a, .black-menu-item > a{
	font-size: 14px;
	letter-spacing: 1pt;
	font-family: marcellus;
}

.header-menu > .menu-item > a, .language-chooser-item > a{
	color: white;
}


/*INDEX*/

#menudeldia-container {
	background-color: #d4ddfc;
	padding: 20px 0;
}

#menudeldia-widget-container {
	margin-bottom: 20px;
}
#menudeldia-widget-container > .textwidget > p{
	font-family: Georgia;
	font-weight: bold;
	font-size: 18px;
}

.textwidget, .textwidget > p {
	font-size: 11px;
}

.widget_text > .textwidget {
	margin-bottom: 20px;
}

.widget_text > .textwidget > p > strong {
	font-family: Georgia;
	font-size: 18px;
}

.biggertextwidget > .widget_text > .textwidget, .biggertextwidget > .widget_text > .textwidget > p {
	font-size: 14px;
}

.biggertextwidget > .widget_text > .widgettitle {
	font-family: Georgia;
	font-size: 21px;
	font-weight: bold
}

.index-lacarta-header {
	font-size: 21px;
	font-family: Georgia;
	font-weight: bold;
	line-height: 22px;
	color: #001689;
	margin-bottom: 20px
}

.index-roturaplatos-header, .index-roturaplatos-text {
	font-family: Optima;
}

.index-roturaplatos-header {
	font-size: 21px;
	color: #001689;
}
.index-roturaplatos-text {
	font-size: 14px;
}
/*LA CARTA*/
.lacarta-menu {
	height: 0;
}
.lacarta-menu > .menu-item > a {
	color: #c8910d !important;
}

.footer-menu > .menu-item > a, .black-menu-item > a{
	color: black !important;
}

.lacarta-menu > .menu-item > a:hover {
	color: black !important;
}

.current-menu-item > a, .menu-item > a:hover, .language-chooser-item > a:hover, .black-menu-item > a:hover, .gold-text {
	color: #c8910d !important;
}

.secondary-menu {
	margin-top: -60px !important;
}

.reservation-container {
	background-color: #f4e9d4;
	padding: 50px 80px;
	color: #3c3c50;
}

ul {
	margin: 0;
	padding: 0;
    list-style-type: none;
}

a {
	color: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none
}

p {
	margin-bottom: 0;
}

.full-img > div > img{
	width: 100% !important;
}

/*VISUAL COMPOSER*/
.vc_wp_text.wpb_content_element {
	margin-bottom: 18px !important;
}

.align-right {
	float: right;
	text-align: right;
}
/*GOOGLE MAPS*/
.gm-style > div:first-of-type {
	-webkit-filter: hue-rotate(253deg) saturate(2.9);
}


/*CONTACT FORM*/

button.taberna-button {
    border: 1px solid #3c3c50;
    background-color: transparent;
    padding: 4px;
}
button.taberna-button > div {
    padding: 9px;
    border: 1px solid #3c3c50;
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

#hugeit-contact-wrapper_4 .hugeit-contact-column-block > div .field-block input {
	width: 100%;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    background: transparent;
    color: #3c3c50 !important;
    border-bottom: 1px solid #3c3c50 !important;
    padding: 0 !important;
    height: 22px;
}
#hugeit-contact-wrapper_4 .hugeit-contact-column-block > div .field-block input, .formsAboveAlign, input[type='text'] {
    font-family: marcellus, Georgia !important;
}

.hugeit-field-block {
	padding: 0 !important;
}

.formsAboveAlign {
	padding-bottom: 2px !important;
	/*font-size: 14px !important;*/
	font-weight: normal !important;
	margin-bottom: 0;
}

.hugeit-field-block:nth-of-type(5) {
    margin-top: 7px;
} 

#hugeit-contact-wrapper_4 .textarea-block textarea {
	border: 1px solid #3c3c50 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
}

#hugeit-contact-wrapper_4 > div > h3, #hugeit_preview_button__submit_10 {
	display: none !important;
}

/*#hugeit_preview_button__submit_10 {
	visibility: hidden;
}*/

#hugeit-contact-wrapper_4, #hugeit-contact-wrapper_4 .hugeit-contact-column-block {
	min-width: 150px !important;
}

.hugeit-contact-column-block {
	padding-top: 0 !important;
}
    
input[type='text'] { 
	font-size: 14px; 
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #3c3c50;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #3c3c50;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #3c3c50;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #3c3c50;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #3c3c50;
}

/*MOBILE*/

@media(max-width: 720px) {
	.content-piece {
		margin: 15px 0px;
	}

	.content-piece-padding {
		padding: 10px 0;
	}
	/*linha no meio*/
	.content-piece > .right-standard-border {
		display: none
	}

	.right-standard-border.left-standard-border {
		border: none;
	}

	.right-standard-border {
		border-right: 5px solid #c8910d;
	    left: 0 !important;
	    width: 0 !important;
	    z-index: 21;
	}
	.left-standard-border {
		border-left: 5px solid #c8910d;
	    right: 0 !important;
	    width: 0 !important;
	    z-index: 21;
	}

	.lacarta-menu {
		height: initial;
	}
	.lacarta-menu > .menu-item, .lacarta-menu > .black-menu-item {
		text-align: center
	}

	.vc_row {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.tp-rightarrow.custom {
		right: 0 !important;
	}
	.tp-leftarrow.custom {
		left: 0 !important;
	}

	.container-fluid > .row > .col-md-8 {
		padding-right: 0;
		padding-left: 0;
	}
}
